body,html {
	
	width: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
}


body{
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: repeat-y;

}

.d-flex{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.menu-width-100{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 18%;
	height: 100%;
}


.current{
	font-family: "Exo 2", "Arial", sans-serif;
	font-style: normal;
	display: flex;
	text-align: center;
	align-items: center;
	width: 170px;
	height: 58px;
	color: #2498FF;
	font-size: 16px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 0.5rem;
	border: 0px;
	background: #D6ECFF;
	margin-bottom: 5px;
	padding-left: 30px;



}

.current-image{
    margin-right: 10px;
	width: 20px;
	height: 20px;
	color: #2498FF;
	padding-right: 3px;
	vertical-align: middle;
}

.not-current-image{
	margin-right: 10px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.not_current{
	font-family: "Exo 2", "Arial", sans-serif;
	color: #5E5E65;
	text-align: left;
	align-items: center;
	vertical-align: middle;
	background: #FFFFFF;
	border: 0px;
	cursor: pointer;
	padding: 10px;
	padding-left: 30px;


}

.not_current:hover{
	color: #2498FF;
}

.menu_list:hover{
	stroke: #2498FF;
	fill: #2498FF;
}

.add_lab{
	font-family: "Exo 2", "Arial", sans-serif;
	font-style: normal;
	color: #508E00;
	text-align: left;
	align-items: left;
	vertical-align: middle;
	background: #FFFFFF;
	border: 0px;
	cursor: pointer;
	padding: 10px;
	padding-left: 30px;
	margin-top: 20%;
	font-size: 16px;
	
}

.addlab-image{
	margin-right: 10px;
	width: 20px;
	height: 20px;
	color: #508E00;
	vertical-align: middle;
}

.add_lab:hover{
	color: #396008;
}

.logout-button{
	font-family: "Exo 2", "Arial", sans-serif;
	font-style: normal;
	display: flex;
	text-align: center;
	justify-content: center;
	width: 140px;
	height: 46px;
	color: #61B1F8;
	font-size: 16px;
	cursor: pointer;
	border-radius: 0.5rem;
	margin-top: 70%;
	border-color: #84C2FA;
	border-style: solid;

	background: #FFFFFF;
	transition: .6s ease-in-out;

}

.logout-button:hover{

	background: #84C2FA;
	color: #FFFFFF;

}

.logout-button:active {
	background: #63A9E7;
	border-color: #63A9E7;
	border-style: solid;
    }


.working-area{
	flex-grow: 1;
	/*flex-direction: row;
	flex-wrap: row wrap;*/
	background-image: url(/img/bac3.svg);
	background-size: cover;
	background-repeat: repeat-y;
	background-position: fixed;
	overflow: scroll;
	overflow-x: hidden;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-top: 5%;
  padding-left: 5%;
  margin-bottom: 20px;
}

.autocomplete input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  display: flex;
  border: 0px;
  background-color: #FFFFFF;
  padding: 4px;
  font-size: 14px;
  border-radius: 0.6rem;
  width: 30px;
}
.autocomplete input[type=text]  {
  font-family: "Roboto", sans-serif;
  color: #343434;
  font-style: normal;
  display: flex;
  background-color: #FFFFFF;
  width: 90%;
  margin-right: 10px;
  padding: 0;
  padding-left: 5%;
}
.autocomplete input[type=submit] {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  display: flex;
  background-color: DodgerBlue;
  color: #fff;
}

.search-button{
  display: flex;
  text-align: center;
  border-radius: 80%;
  width: 30px;
  height: 30px;
  padding: 0 10px;
  background-color: #FFFFFF;
  color: #000000;
}


.search-button:hover{
  background-color: #DDDDDD;

}

.search-button:active{
  background-color: #303030;

}

.autocomplete-items {
  font-family: "Roboto", sans-serif;
  color: #5E5E65;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;

}
.autocomplete-items div{
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4;
  border-radius: 0.2rem;
}
.autocomplete-items:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}






.desktop{
	font-family: "Exo 2", "Arial", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 38px;
	color: #1F1CAF;
	padding-left: 5%;
	margin-bottom: 5%;
}

.desktop-caption{
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	padding-left: 5%;
	margin-bottom: 5%;
	color: #5E5E65;

}

.cards{
	display: flex;
	flex-wrap: wrap;
   	justify-content: flex-start;
   	margin-left: 5%;
}

.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	/*background: #FFFFFF;
	border-radius: 0.5rem;*/
	width: 30%;
	
	margin-right: 30px;
	margin-bottom: 20px;


}


.course-button{
	font-family: "Exo 2", "Arial", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: #3D3D3D;
	background: #FFFFFF;
	border-radius: 1rem;
	border: 0px; 
	width: 80%;
	text-align: left;
	align-items: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 20px;
	display: flex;
	float: right;
	flex-grow: 1;
}

.button-text{
	display: inline-block;
	width:80%;
	margin-right: 10%;
}


.course-image{
	margin-right: 10px;
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.course-button:hover{
	box-shadow: 0 0 3px #1F1CAF;
}

.course-button:active{
	background: #E1DFDF;
}

@media screen and (max-width: 1080px){
body,html{
	height: inherit;
}

.d-flex{
	flex-direction: column;
	justify-content: center;
	} 

.menu-width-100{
	display: none;
}

.working-area{
	width: 100%;
	overflow-y: scroll;
}

.info-menu{
	width: 100%;
}

.button-text{
	width:75%;
}

.menu-mobile{
	position: absolute;
	z-index:1;
	top: 0;
	margin-top: 10px;
	width: 100%;
  	margin: auto;
    background-color: #FFFFFF;
  	display: flex;
	justify-content: center;
	-webkit-overflow-scrolling: touch;
	box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.25);

}

.menu_list-mobile{
	overflow: hidden;
  	background-color: #FFFFFF;
  	position: relative;
  	display: block;
  	align-items: center;
}

.menu-mobile #navLinks{
	display: none;
}

.card{
	width: 100%;

}


.icon{
	background: transparent;
	color: #1F1CAF;
  display: block;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 5%;
  right: 0;
  left: 0;
  float: right;
  transition: all .5s ease-in-out;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  margin-top: 3.5vh;
  width: 30px;
  height: 6px;
  background: #1F1CAF;
  border-radius: 5px;
  transition: all .5s ease-in-out;
  margin-left: 80%;
}
.burger::before {
  transform: translateY(-1px);
}
.burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.icon.open .burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.icon.open .burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.icon.open .burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}







.logout-button{
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 15%;
}

.add_lab{
	margin-top: auto;
}

.homepage{
	margin-top: 10px;
}


}


@media screen and (max-height: 550px){
.avatar-img{
	margin-top: 70px;
	width:100px;
  	height: 130px;
}
.avatar{
	padding-top: 0;
}


}

@media (min-width: 1081px){
.menu-mobile{
	display: none;
}

}

